.Stars {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.Stars span {
    margin-right: 10px;
    cursor: pointer;
}

.Star {
    display: flex;
    

}

.info__all {
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 2px solid black;
    padding: 5px;
}

.Card__info {
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}

.Card__body {
    display: flex;

}

.Card__info {
    padding: 5px;
}